<div class="d-block p-3">
  <div *ngIf="!(isLoggedIn | async)" class="float-right">
    <button mat-raised-button class="btn btn-primary" (click)="openLoginDialog()">Login</button>
  </div>
  <div *ngIf="(isLoggedIn | async)" class="float-right">
    <span>
      Hello, {{username | async}}
    </span>
    <button mat-raised-button class="btn btn-primary" (click)="authService.logout()">Logout</button>
  </div>
  &nbsp;
</div>

<!--<ul>-->
<!--  <li *ngIf="!(isLoggedIn | async)" (click)="authService.login()">-->
<!--    <a>Login</a>-->
<!--  </li>-->
<!--  <li *ngIf="(isLoggedIn | async)" (click)="authService.logout()">-->
<!--    <a>Logout</a>-->
<!--  </li>-->
<!--</ul>-->
