:host {
    .container-div {
      text-align: center;
      #title {
        font-size: xx-large;
      }
      .btn-register {
          background-color: #151A46;
          color: #ffffff;
          width: 20rem;
      }
    }
  }
  